@media screen and (max-width: 700px){
    
    header {
        width: 25vw;
    }

    header .titulo{
        max-width: 100%;
        height: 98px;
    }

    header h1{
        line-height: 27px;
        font-size: 22px;
    }

    header img{
        width: 25vw;
        height: 29vw;
    }

    header li {
        width: 25vw;
        padding-left: 15px;
        font-size: 12px;
    }

    header nav {
        width: 100%;
    }
        
    main {
        margin-left: 25vw;
        width: 75vw;
    }

    main .header-main {
        width: 100%;
        height: 98px;
    }

    main .header-main .header-titulo{
        width: 60%;
        margin-left:20px;
    }

    main .header-main .texto-1{
        font-size: 11px;
        line-height: 12px;
        margin-top: 2px;
    }
    
    main .header-main .texto-2{
        font-weight: bold;
        margin-top: 2px;
        font-size: 14px;
        line-height: 15px;
    }
    
    main .header-main .texto-3{
        font-size: 11px;
        line-height: 12px;
    }

    main .header-main .header-cont {
        display: flex;
        flex-direction: column-reverse;
        width: 40%;
        margin-right: 10px;
    }

    main .header-main .header-button{
        width: 85px;
        height:22px;
        font-size: 11px;
        margin-right: 20px;
        margin-left: 80px;
        margin-bottom: 15px;
    }

    main .header-main .header-info-up{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    main .header-main .header-info .t-1{
        font-size: 11px;
    }
    
    main .header-main .header-info .t-2{
        font-size: 9px;
    }

    main .header-main .header-cont .cont-image{
        width: 25px;
        height: 25px;
    }

    main .conteudo-titulo {
        display: flex;
        flex-direction: column;
    }

    main .conteudo-titulo h2{
        width: 65vw;
        margin-bottom: 20px;
        font-size: 18px;
    }

    main .conteudo-titulo .container-btns-titulo {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    main .p1{
        display: flex;
        flex-direction: column-reverse;
    }

    main .detalhes {
        width: 243px;
        height: 439px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid rgba(236, 236, 236, 1);
    }

    main .conteudo-secao{
        width: 60vw;
    }

    main .conteudo-secao .video {
        margin-top: 15px;
        border-radius: 3px;
        width: 65vw;
        height: 200px;
        background-size: cover;
        margin-left: -20px;
    }

    main .conteudo-secao .video .video-a {
        width: 65vw;
        height: 200px;
        background: rgba(141, 53, 6, 0.5);
        border-radius: 3px;
    }

    main .conteudo-secao .video-b {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 12px;
    }

    main .conteudo-secao .video p{
        font-size: 14px;
        line-height: 15px;
        padding-top: 15px;
        padding-left: 12px;
        margin-bottom: 0px;
    }

    main .conteudo-secao .video-b .t-1 {
        margin-top: 5px;
        padding: 0px;
        font-size: 14px;
        margin-left: 20px;
    }

    main .conteudo-secao .video-b .t-2 {
        padding: 0px;
        font-size: 11px;
        margin-top: 8px;
        margin-left: 20px;
    }

    main .conteudo-secao .video-b img {
        width: 44px;
        height: 46px;
        border-radius: 100%;
        padding: 1px;
        align-items: center;
    }

    main #adicionar-p1 p {
        justify-content: center;
        margin: auto;
        margin-top: 27px;
        width: 100%;
    }

    main #adicionar-p1 .imgs .img {
        width: 55px;
        height: 55px;
        margin-right: 25px;
    }

    #btnNovoTopico{
        margin-top: 14px;
        margin-left: 25%;
        margin-right: 25%;
        width: 133px;
        height: 32px;
        font-size: 15px;
        line-height: 16px;
        color: white;
        border: none;
    }

    main .resumo{
        width: 60vw;
    }

    main .discussoes{
        width: 60vw;
    }

    main #adicionar-p2 .conteudo{
        width: 60vw;
        height: 82px;
    }

    main #adicionar-p2 .titulo{
        width: 60vw;
        height: 40px;
    }

    main #adicionar-p3 button{
        margin-left: 12vw;
    }

    main #adicionar-p3 .blur .aguardando{
        text-align: center;
    }

    main #adicionar-p3 .blur i{
        text-align: center;
    }

    main #adicionar-p3 .blur .editar{
        text-align: center;
    }

    main .comentarios .comentario-1 p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
    }

    main #adicionar-p3 .blur{
        background-image: url(../img/blur-responsive.png);
        width: 60vw;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    main #comentario-pre button {
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        padding: 2px 15px;
        margin-left: 3px;
    }

    main #comentario-pos button{
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        padding: 2px 12px;
        margin-left: 3px;
    }

    main #comentario-pos .resposta-t1{
        height: 250px;
    }
    
    main #comentario-pos .resposta-t2{
        height: 400px;
    }
}

@media (min-width: 700px) and (max-width: 1024px){

    body{
        width: 75vw;
    }

    header .titulo{
        height: 92px;
    }

    main {
        width: 100%;
    }

    main .header-main {
        width: 100%;
        height: 92px;
    }

    main .header-main .header-titulo{
        margin-left: 10px;
    }

    main .header-main .header-cont {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 5px;
        margin-right: 0px;
    }

    main .header-main .header-button{
        margin-top: 5px;
    }

    main .header-main .texto-1{
        font-size: 13px;
        line-height: 14px;
        margin-top: 3px;
    }
    
    main .header-main .texto-2{
        font-weight: bold;
        margin-top: 3px;
        font-size: 16px;
        line-height: 17px;
    }
    
    main .header-main .texto-3{
        font-size: 13px;
        line-height: 14px;
        margin-top: 3px;
    }

    main .conteudo-titulo h2{
        width: 100%;
        font-size: 18px;
        line-height: 19px;
    }

    main .conteudo-titulo {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }

    main .conteudo-titulo .container-btns-titulo {
        display: flex;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }

    main .conteudo-secao {
        margin-left: 10px;
        margin-top: 20px;
    }

    main .conteudo-secao .video p{
        font-size: 18px;
        line-height: 19px;
    }

    main .conteudo-secao .video-b img{
        width: 64px;
        height: 66px;
    }

    main .conteudo-secao .video-b .t-1{
        font-size: 24px;
    }

    main .conteudo-secao .video-b .t-2{
        font-size: 18px;
    }

    main .p1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    main .detalhes{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    main .detalhes h3{
        width: 100%;
    }

    main .resumo{
        width: 100%;
    }

    main .conteudo-secao .video{
        width: 100%;
    }

    main .conteudo-secao .video .video-a{
        width: 100%;
    }

    main .conteudo-secao .video .video-b{
        width: 100%;
        margin-top: 240px;
    }

    #adicionar-topico {
        width: 100%;
        display: flex;
        justify-content:center;
    }

    #btnNovoTopico{
        margin-left: 40%;
    }

    #adicionar-p1{
        width: 100%;
    }

    #adicionar-p1 p{
        width: 90%;
    }

    #adicionar-p2 {
        width: 93%;
    }

    #adicionar-p2 .titulo {
        width: 100%;
    }

    #adicionar-p2 .conteudo {
        width: 100%;
    }

    #adicionar-p3{
        display: none;
    }

    #adicionar-p3{
        width: 100%;
    }

    #adicionar-p3 .blur{
        width: 95%;
        margin-left: 10px;
    }

    #adicionar-p3 button{
        margin-left: 35%;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #comentario-pos .resposta-t1{
        height:auto;
        margin-bottom: 10px;
    }

    #comentario-pos .resposta-t2{
        height:240px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) and (max-width:1400px){

    header{
        width: 17vw;
    }

    header .titulo{
        width: 17vw;
        height: 88px;
    }

    header img {
        width: 17vw;
        height: 228px;
    }

    header li{
        width: 17vw;
    }

    body{
        width: 83vw;
    }

    main {
        width: 100%;
        margin-left: 17vw;
    }

    main .header-main {
        width: 100%;
        height: 88px;
    }

    main .header-main .header-titulo{
        margin-left: 25px;
    }

    main .header-main .header-cont {
        display: flex;
        margin-bottom: 5px;
        margin-right: 0px;
    }

    main .header-main .header-button{
        margin-top: 5px;
    }

    main .header-main .texto-1{
        font-size: 16px;
        line-height: 16px;
    }
    
    main .header-main .texto-2{
        font-weight: bold;
        margin-top: 3px;
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    
    main .header-main .texto-3{
        font-size: 16px;
        line-height: 16px;
        margin-top: 3px;
    }

    main .conteudo-titulo h2{
        width: 100%;
    }

    main .conteudo-titulo {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    main .conteudo-titulo .container-btns-titulo {
        display: flex;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }

    main .conteudo-secao {
        margin-left: 10px;
        margin-top: 20px;
    }

    main .conteudo-secao .video p{
        font-size: 18px;
        line-height: 19px;
    }

    main .conteudo-secao .video-b img{
        width: 64px;
        height: 66px;
    }

    main .conteudo-secao .video-b .t-1{
        font-size: 24px;
    }

    main .conteudo-secao .video-b .t-2{
        font-size: 18px;
    }

    main .p1{
        display: flex;
        width: 100%;
    }

    main .detalhes{
        width: 40%;
        text-align: center;
        margin-left: 10px;
    }

    main .detalhes h3{
        width: 100%;
    }

    main .resumo{
        width: 100%;
    }

    main .conteudo-secao .video{
        width: 100%;
    }

    main .conteudo-secao .video .video-a{
        width: 100%;
    }

    main .conteudo-secao .video .video-b{
        width: 100%;
        margin-top: 240px;
    }

    #adicionar-topico {
        width: 100%;
        display: flex;
        justify-content:center;
    }

    #btnNovoTopico{
        margin-left: 43%;
    }

    #adicionar-p1{
        width: 100%;
    }

    #adicionar-p1 p{
        width: 90%;
    }

    #adicionar-p2 {
        width: 93%;
    }

    #adicionar-p2 .titulo {
        width: 100%;
    }

    #adicionar-p2 .conteudo {
        width: 100%;
    }

    #adicionar-p3{
        display: none;
    }

    #adicionar-p3{
        width: 100%;
    }

    #adicionar-p3 .blur{
        width: 95%;
        margin-left: 10px;
    }

    #adicionar-p3 button{
        margin-left: 43%;
        margin-right: 447px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #comentario-pos .resposta-t1{
        height:auto;
        margin-bottom: 10px;
    }

    #comentario-pos .resposta-t2{
        height:240px;
        margin-bottom: 10px;
    }
}