@media screen and (max-width: 700px){
    
    header {
        width: 25vw;
    }

    header .titulo{
        max-width: 100%;
        height: 88px;
    }

    header h1{
        line-height: 27px;
        font-size: 22px;
    }

    header img{
        width: 25vw;
        height: 25vw;
    }

    header li {
        width: 25vw;
        padding-left: 15px;
    }

    header nav {
        width: 100%;
    }
        
    main {
        margin-left: 25vw;
        width: 75vw;
    }

    main .header-main {
        width: 100%;
        height: 88px;
    }

    main .header-main .header-titulo{
        width: 60%;
        margin-left:20px;
    }

    main .header-main .texto-1{
        font-size: 11px;
        line-height: 12px;
        margin-top: 2px;
    }
    
    main .header-main .texto-2{
        margin-top: 2px;
        font-size: 15px;
        line-height: 19px;
    }
    
    main .header-main .texto-3{
        font-size: 11px;
        line-height: 12px;
    }

    main .header-main .header-cont {
        display: flex;
        flex-direction: column-reverse;
        width: 40%;
        margin-right: 0px;
    }

    main .header-main .header-button{
        width: 85px;
        height:22px;
        font-size: 11px;
        margin-right: 20px;
        margin-left: 80px;
        margin-bottom: 15px;
    }

    main .header-main .header-info-up{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    main .header-main .header-info .t-1{
        font-size: 11px;
    }
    
    main .header-main .header-info .t-2{
        font-size: 9px;
    }

    main .header-main .header-cont .cont-image{
        width: 25px;
        height: 25px;
    }

    main .conteudo-titulo {
        display: flex;
        flex-direction: column;
    }

    main .conteudo-titulo h2{
        width: 65vw;
        margin-bottom: 20px;
        font-size: 18px;
    }

    main .conteudo-titulo .container-btns-titulo {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    main .p1{
        display: flex;
        flex-direction: column-reverse;
    }

    main .detalhes {
        width: 243px;
        height: 439px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid rgba(236, 236, 236, 1);
    }

    main .conteudo-secao .video {
        margin-top: 15px;
        border-radius: 3px;
        width: 75vw;
        height: auto;
        background-size: cover;
    }

    main .conteudo-secao .video .video-a {
        width: 75vw;
        height: 439px;
        background: rgba(141, 53, 6, 0.5);
        border-radius: 3px;
    }

    main #adicionar-p1 p {
        justify-content: center;
        margin: auto;
        margin-top: 27px;
        width: 100%;
    }

    main #adicionar-p1 .imgs .img {
        width: 55px;
        height: 55px;
        margin-right: 25px;
    }

    #btnNovoTopico{
        margin-top: 14px;
        margin-left: 25%;
        margin-right: 25%;
        width: 133px;
        height: 32px;
        font-size: 15px;
        line-height: 16px;
        color: white;
        border: none;
    }

    main .resumo{
        width: 60vw;
    }

    main .discussoes{
        width: 60vw;
    }

    main #adicionar-p2 .conteudo{
        width: 60vw;
        height: 82px;
    }

    main #adicionar-p2 .titulo{
        width: 60vw;
        height: 40px;
    }

    main #adicionar-p3 button{
        margin-left: 12vw;
    }

    main #adicionar-p3 .blur .aguardando{
        text-align: center;
    }

    main #adicionar-p3 .blur i{
        text-align: center;
    }

    main #adicionar-p3 .blur .editar{
        text-align: center;
    }

    main .comentarios .comentario-1 p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
    }

    main #adicionar-p3 .blur{
        background-image: url(../img/blur-responsive.png);
        width: 60vw;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    main #comentario-pre button {
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        padding: 2px 20px;
        margin-left: 3px;
    }

    main #comentario-pos button{
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        padding: 2px 17px;
        margin-left: 3px;
    }

    main #comentario-pos .resposta-t1{
        height: 250px;
    }
    
    main #comentario-pos .resposta-t2{
        height: 350px;
    }
}

